https://github.com/github/docs/commit/d31c1aab776be946d41a960e9a0778b2073e62c5#commitcomment-100359776# skip installing optional dependencies to avoid issues with troublesome `fsevents` module
omit=optional
